# Ignorar entorno virtual y base de datos local
practica_supervisada/
database/

# Ignorar archivos temporales
*.log
__pycache__/
*.pyc
*.pyo

# Ignorar configuraciones locales
.env

# Ignorar dataset creado
dataset/facturas_dataset/