# Ignorar entorno virtual y base de datos local
practica_supervisada/
database/

# Ignorar archivos temporales
*.log
__pycache__/
*.pyc
*.pyo

# Ignorar configuraciones locales
.env

# Ignorar dataset creado
dataset/facturas_dataset/
dataset/dataset_imagenes/
ML_module/dataset_dividido/

# --- YOLO RUNS ---
runs/

# --- WEIGHTS / MODEL FILES ---
*.pt
*.onnx
*.engine

# --- PYTHON CACHE ---
__pycache__/
*.py[cod]

# --- JUPYTER ---
.ipynb_checkpoints/

# --- VIRTUAL ENVIRONMENTS ---
venv/
.venv/
env/

# --- IDE FILES ---
.idea/

# --- SYSTEM FILES ---
.DS_Store
Thumbs.db