# Ignorar entorno virtual y base de datos local
practica_supervisada/
database/
backend/database
backend/.idea
backend/src/OCR/temp_rois
backend/src/OCR/logs
backend/src/OCR/facturas_prueba
backend/alembic/versions

# Ignorar archivos temporales
*.log
__pycache__/
*.pyc
*.pyo

# Ignorar configuraciones locales
.env

# Ignorar dataset creado
dataset/dataset_imagenes/
dataset/facturas/
ML_module/dataset_dividido/
ML_module/dataset_dividido_augmented/
OCR/facturas_prueba


# --- WEIGHTS / MODEL FILES ---
#*.pt
#*.onnx
#*.engine

#--- Logs y temp rois ---
OCR/logs
OCR/temp_rois


# --- PYTHON CACHE ---
__pycache__/
*.py[cod]

# --- JUPYTER ---
.ipynb_checkpoints/

# --- VIRTUAL ENVIRONMENTS ---
venv/
.venv/
env/

# --- IDE FILES ---
.idea/

# --- SYSTEM FILES ---
.DS_Store
Thumbs.db